
.tapped {
	transform: rotate(90deg);
}

.card {
	position: relative;
	max-width: 225px;
	display: inline-block;
	padding: 5px;
}

.card:hover .actions {
	display: block;
}

.card .actions {
	display: none;
}

.counters {

}


.art {

}

.actions {

}

#wrapper {
	margin: 10px;
	width: 100%;
}

#play {
	min-height: 360px;
	padding: 10px;
	background-color: #E7DAFE;
}

#hand {
	min-height: 340px;
	padding: 10px;
	background-color: #DAFEF8;
}

#graveyard {
	min-height: 340px;
	padding: 10px;
	background-color: #DEDEDF;
}
